.app__header {
  background-color: var(--black-color);
}

.app__header-h1 {
  font-family: var(--font-base);
  color: var(--golden-color);
  letter-spacing: 0.04em;
  line-height: 117px;
  text-transform: uppercase;
  font-size: 90px;
}

.app__header-img img {
  width: 80%;
}

@media screen and (max-width: 500px) {
  .app__header-h1 {
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 50px;
  }
}
